audio {
    display: block;
    margin: 20px auto;
}

body {
    background-image: url("background.jpg");
}

button {
    height: 100%;
    display: block;
    margin: 20px auto;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: larger;
    border-radius: 20px;
    cursor: pointer
}